*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }
  body{
    margin: 0;
  }
  a{
    text-decoration: none;
    font-weight: bolder;
  }
  li{
    list-style-type: none;
  }
  main{
    margin-top: 64px;
  }
  nav{
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
  }
  nav ul{
    display: flex;
    margin: 0;
    padding: 0;
  }
  nav ul li a{
    color: white;
    padding: 15px;
    display: block;
  }
  .current-page{
  background-color: cornflowerblue;
  }
  nav ul li a:hover{
    background-color: grey;
  }